Use conditional list comprehensions to create the lists requested in the following cells.

**Hint**: Remember the modulo operator (%) !

`x % y` gives the remainder if `x` is divided by `y`. So, for instance `x % 2` will be `0` when x is even, and `1` when x is odd

In [2]:
numbers = list(range(0,101))
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [19]:
num_three = [num for num in list(range(0,101)) if num % 3==0]
num_three

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [7]:
# Make a list of numbers up to 100 that are divisible by three

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [10]:
# Use conditional list comprehensions to create a list of all the pet names that are for dogs
pets = [{
    'name': 'Fido',
    'age': 4,
    'type': 'dog'
}, {
    'name': 'Rex',
    'age': 2,
    'type': 'dog'
}, {
    'name': 'Puddles',
    'age': 7,
    'type': 'wombat'
}, {
    'name': 'Tuna',
    'age': 6,
    'type': 'cat'
}, {
    'name': 'Springer',
    'age': 5,
    'type': 'dog'
}]

In [23]:
dogs = [x["name"] for x in pets if x["type"] == "dog"]
dogs

['Fido', 'Rex', 'Springer']

In [25]:
age = [x["name"] for x in pets if x["age"] >=4 and x["type"] == "cat"]
age

['Tuna']

In [27]:
# Make a list of numbers up to 100 that are divisible by three OR divisible by five
div_mas = [number for number in range(0,101) if number % 3 ==0 or number % 5 ==0]
div_mas

[0,
 3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50,
 51,
 54,
 55,
 57,
 60,
 63,
 65,
 66,
 69,
 70,
 72,
 75,
 78,
 80,
 81,
 84,
 85,
 87,
 90,
 93,
 95,
 96,
 99,
 100]

In [28]:
# BONUS: Make a list comprehension that implements FizzBuzz on the previous list
# FizzBuzz replaces multiples of 3 with "Fizz", multiples of 5 with "Buzz" and multiples of both 3 and 5 with "FizzBuzz"
# HINT: use a conditional in the expression at the beginning of the list comprehension
['FizzBuzz' if x % 3 == 0 and x % 5 == 0 else 
     'Fizz' if x % 3 == 0 else 
         'Buzz' if x % 5 == 0 else ''
             for x in range(100) if x % 3 == 0 or x % 5 == 0]

['FizzBuzz',
 'Fizz',
 'Buzz',
 'Fizz',
 'Fizz',
 'Buzz',
 'Fizz',
 'FizzBuzz',
 'Fizz',
 'Buzz',
 'Fizz',
 'Fizz',
 'Buzz',
 'Fizz',
 'FizzBuzz',
 'Fizz',
 'Buzz',
 'Fizz',
 'Fizz',
 'Buzz',
 'Fizz',
 'FizzBuzz',
 'Fizz',
 'Buzz',
 'Fizz',
 'Fizz',
 'Buzz',
 'Fizz',
 'FizzBuzz',
 'Fizz',
 'Buzz',
 'Fizz',
 'Fizz',
 'Buzz',
 'Fizz',
 'FizzBuzz',
 'Fizz',
 'Buzz',
 'Fizz',
 'Fizz',
 'Buzz',
 'Fizz',
 'FizzBuzz',
 'Fizz',
 'Buzz',
 'Fizz',
 'Fizz']