In [1]:
# Python UA

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
donors = pd.read_csv("donors2008.csv")

donor_df = pd.DataFrame(donors)

In [4]:
donor_df.head(5)

  LastName FirstName          Employer      City State    Zip  Amount  FIELD8
0    Aaron    Eugene  State Department    Dulles    VA  20189   500.0     NaN
1    Abadi   Barbara       Abadi & Co.  New York    NY  10021   200.0     NaN
2  Adamany   Anthony           Retired  Rockford    IL  61103   500.0     NaN
3    Adams  Lorraine              Self  New York    NY  10026   200.0     NaN
4    Adams    Marion              None    Exeter    NH  03833   100.0     NaN

In [5]:
state_donors = donor_df.groupby("State")["Amount"].mean()

In [6]:
state_donors.sort_values(ascending=False)

State
MS    1208.333333
IL    1114.519231
NY     910.829146
PA     896.755556
CO     851.250000
GA     842.307692
CT     825.714286
MD     819.823529
MA     750.714286
KY     735.000000
FL     709.358974
VA     701.093465
RI     700.000000
MN     697.000000
CA     685.234973
DC     647.115385
IA     600.000000
OH     501.562500
TX     485.193182
MO     463.888889
NC     440.625000
WA     399.537037
NV     393.333333
NH     368.750000
AR     350.000000
VT     350.000000
ID     341.666667
OR     321.052632
NM     298.913043
SC     287.500000
KS     283.333333
NJ     276.111111
TN     257.142857
QC     250.000000
MI     241.666667
VI     225.000000
IN     225.000000
AL     212.500000
ME     211.111111
AZ     206.000000
OK     200.000000
UT     200.000000
MT     200.000000
AP     200.000000
HI     195.454545
DE     190.000000
WI     185.416667
WV     183.333333
NE     183.333333
AK     175.000000
LA     158.333333
WY     125.000000
AE     100.000000
Name: Amount, dtype: float64

In [7]:
rain = pd.read_csv("avg_rain_state.csv")
rain_df = pd.DataFrame(rain)

In [8]:
rain_df.head(5)

        State  Inches  Milli足metres  Rank
0     Alabama    58.3          1480     4
1      Alaska    22.5           572    39
2     Arizona    13.6           345    47
3    Arkansas    50.6          1284     8
4  California    22.2           563    40

In [37]:
rain_df.sort_values(["Rank"], ascending=False).tail()

          State  Inches  Milli足metres  Rank
8       Florida    54.5          1385     5
0       Alabama    58.3          1480     4
23  Mississippi    59.0          1499     3
17    Louisiana    60.1          1528     2
10       Hawaii    63.7          1618     1

In [9]:
rain_df["Inches"].mean()

37.078

In [10]:
rain_df["Inches"].median()

41.75

In [11]:
rain_df["Inches"].mode()

0    28.9
1    42.2
2    50.3
dtype: float64

In [44]:
# graphing rain

# tick_locations = [value for value in len(rain_df["State"])]
# plt.figure(figsize=(20,3))
# plt.bar(rain_df["State"], rain_df["Inches"])
# plt.xticks(tick_locations,len(rain_df["State"], rotation="vertical")
# # plt.title("Rain in Inches by State")
# # plt.xlabel("State")
# # plt.ylabel("Rain (inches)")
# plt.show()

SyntaxError: invalid syntax (<ipython-input-44-8b369600f0ae>, line 10)

In [12]:
cereal = pd.read_csv("cereal.csv")

cereal_df = pd.DataFrame(cereal)

cereal_df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [13]:
cereal_df.dtypes

name         object
mfr          object
type         object
calories      int64
protein       int64
fat           int64
sodium        int64
fiber       float64
carbo       float64
sugars        int64
potass        int64
vitamins      int64
shelf         int64
weight      float64
cups        float64
rating      float64
dtype: object

In [14]:
cereal_df = cereal_df.set_index("name")

In [18]:
#

In [16]:
for index, row in cereal_df.iterrows():
    if row[7]>=5.0:
        print(index, row[7])

100% Bran 5.0
100% Natural Bran 8.0
All-Bran 7.0
All-Bran with Extra Fiber 8.0
Almond Delight 14.0
Apple Cinnamon Cheerios 10.5
Apple Jacks 11.0
Basic 4 18.0
Bran Chex 15.0
Bran Flakes 13.0
Cap'n'Crunch 12.0
Cheerios 17.0
Cinnamon Toast Crunch 13.0
Clusters 13.0
Cocoa Puffs 12.0
Corn Chex 22.0
Corn Flakes 21.0
Corn Pops 13.0
Count Chocula 12.0
Cracklin' Oat Bran 10.0
Cream of Wheat (Quick) 21.0
Crispix 21.0
Crispy Wheat & Raisins 11.0
Double Chex 18.0
Froot Loops 11.0
Frosted Flakes 14.0
Frosted Mini-Wheats 14.0
Fruit & Fibre Dates; Walnuts; and Oats 12.0
Fruitful Bran 14.0
Fruity Pebbles 13.0
Golden Crisp 11.0
Golden Grahams 15.0
Grape Nuts Flakes 15.0
Grape-Nuts 17.0
Great Grains Pecan 13.0
Honey Graham Ohs 12.0
Honey Nut Cheerios 11.5
Honey-comb 14.0
Just Right Crunchy  Nuggets 17.0
Just Right Fruit & Nut 20.0
Kix 21.0
Life 12.0
Lucky Charms 12.0
Maypo 16.0
Muesli Raisins; Dates; & Almonds 16.0
Muesli Raisins; Peaches; & Pecans 16.0
Mueslix Crispy Blend 17.0
Multi-Grain Cheerios 15.0
Nut&Honey Crunch 15.0
Nutri-Grain Almond-Raisin 21.0
Nutri-grain Wheat 18.0
Oatmeal Raisin Crisp 13.5
Post Nat. Raisin Bran 11.0
Product 19 20.0
Puffed Rice 13.0
Puffed Wheat 10.0
Quaker Oat Squares 14.0
Raisin Bran 14.0
Raisin Nut Bran 10.5
Raisin Squares 15.0
Rice Chex 23.0
Rice Krispies 22.0
Shredded Wheat 16.0
Shredded Wheat 'n'Bran 19.0
Shredded Wheat spoon size 20.0
Smacks 9.0
Special K 16.0
Strawberry Fruit Wheats 15.0
Total Corn Flakes 21.0
Total Raisin Bran 15.0
Total Whole Grain 16.0
Triples 21.0
Trix 13.0
Wheat Chex 17.0
Wheaties 17.0
Wheaties Honey Gold 16.0

In [24]:
# import requests

import requests
url = "https://api.spacexdata.com/v2/launchpads"

space = requests.get(url)
space.json()

space_json = space.json()

In [25]:
len(space_json)

6

In [46]:
# Using a for loop, what is the order of the "full name" 
# of each launch site in the JSON file when printed to the output cell?



space_json

[{'padid': 5,
  'id': 'vafb_slc_3w',
  'name': 'VAFB SLC 3W',
  'full_name': 'Vandenberg Air Force Base Space Launch Complex 3W',
  'status': 'retired',
  'location': {'name': 'Vandenberg Air Force Base',
   'region': 'California',
   'latitude': 34.6440904,
   'longitude': -120.5931438},
  'vehicles_launched': ['Falcon 1'],
  'attempted_launches': 0,
  'successful_launches': 0,
  'wikipedia': 'https://en.wikipedia.org/wiki/Vandenberg_AFB_Space_Launch_Complex_3',
  'details': 'SpaceX original west coast launch pad for Falcon 1. Performed a static fire but was never used for a launch and abandoned due to scheduling conflicts.'},
 {'padid': 2,
  'id': 'ccafs_slc_40',
  'name': 'CCAFS SLC 40',
  'full_name': 'Cape Canaveral Air Force Station Space Launch Complex 40',
  'status': 'active',
  'location': {'name': 'Cape Canaveral',
   'region': 'Florida',
   'latitude': 28.5618571,
   'longitude': -80.577366},
  'vehicles_launched': ['Falcon 9'],
  'attempted_launches': 61,
  'successful_launches': 59,
  'wikipedia': 'https://en.wikipedia.org/wiki/Cape_Canaveral_Air_Force_Station_Space_Launch_Complex_40',
  'details': 'SpaceX primary Falcon 9 launch pad, where all east coast Falcon 9s launched prior to the AMOS-6 anomaly. Initially used to launch Titan rockets for Lockheed Martin. Back online since CRS-13 on 2017-12-15.'},
 {'padid': 8,
  'id': 'stls',
  'name': 'STLS',
  'full_name': 'SpaceX South Texas Launch Site',
  'status': 'under construction',
  'location': {'name': 'Boca Chica Village',
   'region': 'Texas',
   'latitude': 25.9972641,
   'longitude': -97.1560845},
  'vehicles_launched': ['Falcon 9'],
  'attempted_launches': 0,
  'successful_launches': 0,
  'wikipedia': 'https://en.wikipedia.org/wiki/SpaceX_South_Texas_Launch_Site',
  'details': 'SpaceX new launch site currently under construction to help keep up with the Falcon 9 and Heavy manifests. Expected to be completed in late 2018. Initially will be limited to 12 flights per year, and only GTO launches.'},
 {'padid': 1,
  'id': 'kwajalein_atoll',
  'name': 'Kwajalein Atoll',
  'full_name': 'Kwajalein Atoll Omelek Island',
  'status': 'retired',
  'location': {'name': 'Omelek Island',
   'region': 'Marshall Islands',
   'latitude': 9.0477206,
   'longitude': 167.7431292},
  'vehicles_launched': ['Falcon 1'],
  'attempted_launches': 5,
  'successful_launches': 2,
  'wikipedia': 'https://en.wikipedia.org/wiki/Omelek_Island',
  'details': 'SpaceX original launch site, where all of the Falcon 1 launches occured. Abandoned as SpaceX decided against upgrading the pad to support Falcon 9.'},
 {'padid': 6,
  'id': 'vafb_slc_4e',
  'name': 'VAFB SLC 4E',
  'full_name': 'Vandenberg Air Force Base Space Launch Complex 4E',
  'status': 'active',
  'location': {'name': 'Vandenberg Air Force Base',
   'region': 'California',
   'latitude': 34.632093,
   'longitude': -120.610829},
  'vehicles_launched': ['Falcon 9'],
  'attempted_launches': 16,
  'successful_launches': 16,
  'wikipedia': 'https://en.wikipedia.org/wiki/Vandenberg_AFB_Space_Launch_Complex_4',
  'details': 'SpaceX primary west coast launch pad for polar orbits and sun synchronous orbits, primarily used for Iridium. Also intended to be capable of launching Falcon Heavy.'},
 {'padid': 4,
  'id': 'ksc_lc_39a',
  'name': 'KSC LC 39A',
  'full_name': 'Kennedy Space Center Historic Launch Complex 39A',
  'status': 'active',
  'location': {'name': 'Cape Canaveral',
   'region': 'Florida',
   'latitude': 28.6080585,
   'longitude': -80.6039558},
  'vehicles_launched': ['Falcon 9', 'Falcon Heavy'],
  'attempted_launches': 27,
  'successful_launches': 26,
  'wikipedia': 'https://en.wikipedia.org/wiki/Kennedy_Space_Center_Launch_Complex_39#Launch_Complex_39A',
  'details': 'NASA historic launch pad that launched most of the Saturn V and Space Shuttle missions. Initially for Falcon Heavy launches, it is now launching all of SpaceX east coast missions due to the damage from the AMOS-6 anomaly. After SLC-40 repairs are complete, it will be upgraded to support Falcon Heavy, a process which will take about two months. In the future it will launch commercial crew missions and the Interplanetary Transport System.'}]

In [55]:
space_json["padid"][0]

TypeError: list indices must be integers or slices, not str

In [59]:
names = ["Aaron", "Bob", "Alfred", "Chet", "Derek"]

new_names = []

for x in names:
    if x[0] == "A":
        new_names.append(x)

print(new_names)

['Aaron', 'Alfred']

In [60]:
students = ("Frank", "Mary", "Jasmine", "Ivana", "Ahmed")
students.append("Serena")
print(students)

AttributeError: 'tuple' object has no attribute 'append'